@using Data.Entities
@model IEnumerable<Group>

@{
	ViewData["Title"] = "Home Page";
}



<div class="container row">

	@foreach (var group in Model)
	{
	 <div class="col-3 ">
	  <div class="p-0 my-3 border">
	   <div class="card">
					@if (!String.IsNullOrEmpty(group.AvatarUrl))
					{
						<img src="@group.AvatarUrl" class="card-img-top">
					}else{
						<img src="~/581057-200.png" class="card-img-top">
					}

		<div class="card-body">
		 <h3 class="card-title text-success">@group.Name</h3>
		 <h4 class="card-title text-primary">@group.CreatedAt</h4>
		 <p class="card-text">@group.Description</p>
		 <div class="row">
		  <div class="col">
		   <a asp-controller="Home" asp-action="GitlabGroupDetails" asp-route-id="@group.GitlabGroupId"
							   class="btn btn-success form-control">Details</a>
		  </div>
		 </div>
		</div>
	   </div>
	  </div>
	 </div>
	}

</div>
